[defualts]
inventory       = ./inventory
sudo_user       = root
remote_user     = root
roles_path      = ./roles
log_path        = ./log/ansible.log

[privilage_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

[ssh_connection]
scp_if_ssh = True